<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">Question from HTML</h5>
    <form th:action ="@{/question/create}" method="post">
    <div calss= "mb-3">
        <label for ="subject" calss ="form=label">제목 </label>
        <input type="text" id="subject" name="subject" class="form-control" placeholder="제목을 입력하세요" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea id="content" name="content" class="form-control" rows="5" placeholder="내용을 입력하세요" required></textarea>
    </div>
    <button type="submit" value = "저장하기" class="btn btn-primary my-2">제출</button>
    </form>
</div>
</html>
